pkgbase = voxelxlauncher-bin
	pkgdesc = Martian Launcher - Minecraft Launcher by FoxStudio
	pkgver = 1.4.25
	pkgrel = 1
	url = https://github.com/foxstudio-201/VoxelXClient
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libnotify
	optdepends = libappindicator-gtk3: tray icon support
	provides = voxelxlauncher
	conflicts = voxelxlauncher
	options = !strip
	options = !debug
	source = voxelxlauncher-1.4.25.deb::file:///media/D/client/VoxelXClient/dist-electron/voxelxlauncher_1.4.25_amd64.deb
	sha256sums = eec03ebf86dad992c6a4e54ca3705646ece4199f1e22ff94c76dcd85e0241870

pkgname = voxelxlauncher-bin
