pkgbase = voxelxlauncher-local
	pkgdesc = Martian Launcher - Minecraft Launcher by FoxStudio (local build)
	pkgver = 1.5.17
	pkgrel = 1
	url = https://github.com/foxstudio-201/VoxelXClient
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libnotify
	optdepends = libappindicator-gtk3: tray icon support
	provides = voxelxlauncher
	conflicts = voxelxlauncher
	options = !strip
	options = !debug
	source = linux-unpacked.tar.xz
	sha256sums = 216ce73467c4f49eae90921511aef871da0f2ed78e569568169a9a45d32565f4

pkgname = voxelxlauncher-local