pkgbase = voxelxlauncher-bin
	pkgdesc = Martian Launcher - Minecraft Launcher by FoxStudio
	pkgver = 1.4.20
	pkgrel = 1
	url = https://github.com/foxstudio-201/VoxelXClient
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libnotify
	optdepends = libappindicator-gtk3: tray icon support
	provides = voxelxlauncher
	conflicts = voxelxlauncher
	options = !strip
	options = !debug
	source = voxelxlauncher-1.4.20.deb::https://github.com/foxstudio-201/VoxelXClient/releases/download/v1.4.20/voxelxlauncher_1.4.20_amd64.deb
	sha256sums = SKIP

pkgname = voxelxlauncher-bin
